<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498392403961-htesm9se5rq89e6k426e1nd4tfgqvgsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498392403961-htesm9se5rq89e6k426e1nd4tfgqvgsg</string>
	<key>API_KEY</key>
	<string>AIzaSyCYuC6caJyf4CsvQOTFVn-uThGg2DQdzQw</string>
	<key>GCM_SENDER_ID</key>
	<string>498392403961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfinalproject3it1</string>
	<key>PROJECT_ID</key>
	<string>finalprojectdev</string>
	<key>STORAGE_BUCKET</key>
	<string>finalprojectdev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498392403961:ios:e4a52547932cfa1219f728</string>
</dict>
</plist>